<a href="https://colab.research.google.com/github/nurimammasri/Wooky-Pandas/blob/master/01.%20Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas**
**Pandas** adalah suatu liblary yang open source, menyediakan performance yang sangat baik, struktur data yang mudah digunakan dan alat analisis data untuk Python. Pandas akan menjadi langkah besar kamu dalam perjalanan mempelajari data science.

Untuk menggunakan pandas, kamu terlebih dahulu mesti menginstall nya di command prompt dengan mengetikan 

> ***pip install pandas***

> ***pip install --upgrade pandas***

atau menggunakan Anaconda Prompt
> ***conda install pandas***

Dokumentasi Lengkap

[*Pandas Dokumentation*](https://pandas.pydata.org/pandas-docs/stable/reference/)

[link text](https://www.w3resource.com/pandas/index.php)

sanbercode

# **Series**

Series dan Dataframe adalah suatu objek tempat kita menyimpan data secara terstruktur. 

Perbedaan mendasar antara DataFrames dengan Series adalah berada pada struktur nya dan juga attribute dan method-method yang mereka miliki, untuk perbedaan strukturnya adalah sebagai berikut :

DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel.

1.   Object pandas dengan representasi data 2 Dimensi yakni baris dan kolom.
2.   Value mutable (changable)
3.   Size mutable

Series adalah objek 1 dimensi
1.   Object pandas dengan representasi data 1 Dimensi yakni daftar data dgn index.
2.   Value mutable (changable)
3.   Size immutable


Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

In [ ]:
pd.Series?

# **Series Constructor**

pandas.Series

A pandas Series can be created using the following constructor 

> **pandas.Series( data, index, dtype, copy)**

The parameters of the constructor are as follows

*  **data** = data takes various forms like ndarray, list, constants
*   **index** = Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.
*   **dtype** = dtype is for data type. If None, data type will be inferred
*   **copy** = Copy data. Default False

In [ ]:
# using parameter (data, index, dtype) dengan assignment =
import pandas as pd
import numpy as np
data = np.array([2,4,6,8])
s = pd.Series(data)
print(s)

#ini
s.data = [1,2,3,4] #tidak berpengaruh
s.index = ['satu', 'dua', 'tiga', 'empat']
print(s)

0    2
1    4
2    6
3    8
dtype: int64
satu     2
dua      4
tiga     6
empat    8
dtype: int64

## .index

In [ ]:
s.index

Index(['satu', 'dua', 'tiga', 'empat'], dtype='object')

## .keys()

In [ ]:
s.keys()

Index(['satu', 'dua', 'tiga', 'empat'], dtype='object')

## .values

In [ ]:
s.values

array([2, 4, 6, 8])

## list( .items())

In [ ]:
list(s.items())

[('satu', 2), ('dua', 4), ('tiga', 6), ('empat', 8)]

In [ ]:
import pandas as pd
import numpy as np
data = np.array([2,4,6,8])
# using parameter index
s1 = pd.Series(data, index = [0,9,8,7])
print(s1)
# using parameter dtype
s2 = pd.Series(data, dtype=float)
print(s2)
# using parameter index and dtype
s3 = pd.Series(data, index = [0,9,8,7], dtype=float)
print(s3)

0    2
9    4
8    6
7    8
dtype: int64
0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64
0    2.0
9    4.0
8    6.0
7    8.0
dtype: float64

# **Create Series**

A series can be created using various inputs like âˆ’



*   Array (LIst and Numpy Array (ndarray))
*   Dictionary
*   Scalar (Constant)

## **Create Empty Series**

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

## **Create Series from List or ndarray**

If data is an ndarray, then index passed must be of the same length. If no index is passed, then by default index will be range(n) where n is array length, i.e., [0,1,2,3â€¦. range(len(array))-1].

### Example 1

In [ ]:
#make series default
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

'''
We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1, i.e., 0 to 3.
'''

0    a
1    b
2    c
3    d
dtype: object

'\nWe did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1, i.e., 0 to 3.\n'

### Example 2

In [ ]:
#make series with index parameter
#cara 1
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s1 = pd.Series(data,index=[100,101,102,103]) #length of index must be same with len(data) or Error (kecuali untuk dict)
print('cara 1')
print(s1)

#cara 2
s2 = pd.Series(data)
s2.index = ['a', 'b', 'c', 'd']
print('\ncara 2')
print(s2)

cara 1
100    a
101    b
102    c
103    d
dtype: object

cara 2
a    a
b    b
c    c
d    d
dtype: object

### Example 3

In [ ]:
#import the pandas library and dtype parameter
import pandas as pd
import numpy as np
data = np.array([1,2,3,4])
s1 = pd.Series(data,index=['a', 'b', 'c', 'd'], dtype=float)
s2 = pd.Series(data,index=['a', 'b', 'c', 'd'], dtype=object)
s3 = pd.Series(data,index=['a', 'b', 'c', 'd'], dtype=bool)
print(s1)
print(s2)
print(s3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
a    1
b    2
c    3
d    4
dtype: object
a    True
b    True
c    True
d    True
dtype: bool

## **Create Series from Dictionary**

A dict can be passed as input and if no index is specified, then the dictionary keys are taken in a sorted order to construct index. If index is passed, the values in data corresponding to the labels in the index will be pulled out.

### Example 1

In [ ]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.} # key as index
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

### Example 2


Index order is persisted and the missing element is filled with NaN (Not a Number).

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
# pada dict index boleh lebih dari jumlah key, tapi jika keynya tidak ada maka nilainya Nan
s = pd.Series(data,index=['b','c','d','a']) 
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

## **Create Series from Scalar**

If data is a scalar value, an index must be provided (for set how muct data, default data is just 1). The value will be repeated to match the length of index

### Example 1

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(6)
print(s)

0    6
dtype: int64

### Example 2

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

# Series vs List | Dictionary

Perbedaan antara Series dan List ataupun Dictionary adalah :
Series merepresentasikan suatu nilai atau list dalam bentuk seperti table yang mana kita dalam menginisialisasikan nama kolomnya. sedangkan untuk list akan merepresentasikan suatu kumpulan nilai berdasarkan nilai index dan untuk Dictionary merepresentasikan nilai berdasarkan key dan valuenya.

**Perbedaan Series dengan List :**
*   Series direpresentasikan dalam bentuk table, sedangan List dalam bentuk baris nilai seperti array.
*   Series boleh memiliki nilai indek selain integer, tetapi untuk List secara default bernilai *len(n), len(n)-1, ...* atau 0, 1, 2, 3, ..
*   Series memiliki method tersendiri untuk menampilkan values (Series.values) dan menampilkan index (Series.index)

**Perbedaan Series dengan Dictionary :**
*   Series direpresentasikan dalam bentuk table, sedangan Dictionary  dalam bentuk baris key dan value.
*   Series boleh melakukan slicing seperti pada List dan ndarray, sedangkan untuk dictionary tidak bisa melakukan slicing yakni hanya menggunakan key untuk mengakses data atau method tertentu seperti items(), keys() dan values().
*   Series bisa memiliki key atau index yang duplicate, Sedangkan Dictionary harus unique artinya tidak boleh memiliki duplicate key.

*Series dalam Table, List dan Dict Struktur Baris*

In [ ]:
import pandas as pd
obj_list = [1,2,3,4,5]
obj_dict = {'one':1, 'two': 2, 'tree':3, 'four':4, 'five':5}
obj_series = pd.Series(obj_list)

In [ ]:
obj_list

[1, 2, 3, 4, 5]

In [ ]:
obj_dict

{'five': 5, 'four': 4, 'one': 1, 'tree': 3, 'two': 2}

In [ ]:
obj_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

*Series memiliki method khusus seperti .index dan .values*

In [ ]:
obj_series.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
obj_series.values

array([1, 2, 3, 4, 5])

*Series boleh memiliki index selain int*

*List harus memiliki index default int (0,1,2,3)*

In [ ]:
import pandas as pd
import numpy as np
data = np.array([1,2,3,4,5])
# using parameter index
s = pd.Series(data, index = ['a', 'b', 'c', 'd', 'e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

*Series dan List boleh melakukan slicing*

*Sedangkan untuk dict hanya bisa menggunakan key*

*Series boleh mengakses menggunakan list*
*Sedangkan List dan Dict tidak bisa*

In [ ]:
import pandas as pd
obj_list = [1,2,3,4,5]
obj_dict = {'one':1, 'two': 2, 'tree':3, 'four':4, 'five':5}
obj_series = pd.Series(obj_list)

#list
print('Object List ',obj_list )
print('obj_list[0] = ', obj_list[0])
print('obj_list[-2] = ',obj_list[-2])
print('obj_list[:3] = ',obj_list[:3])
print('obj_list[-2:] = ',obj_list[-2:])
print('obj_list[-1:-3] = ',obj_list[-1:-3])
print('obj_list[-3:-1] = ',obj_list[-3:-1])

# print('obj_list[1,2,3] = \n',obj_list[[1,2,3]]) ERROR Akses dengan list

#series
print('\nObject Series ')
print(obj_series)
print('obj_series[0] = ', obj_series[0])
# print('obj_series[-2] = ',obj_series[-2])   ERROR untuk index yang tidak ada
print('obj_series[:3] = \n',obj_series[:3],)
print('obj_series[-2:] = \n',obj_series[-2:])
print('obj_series[-1:-3] = \n',obj_series[-1:-3]) #EMPTY
print('obj_series[-3:-1] = \n',obj_series[-3:-1])

print('obj_series[1,2,3] = \n',obj_series[[1,2,3]]) # Akses dengan list (multitple elements)

#dictionary
print('\nObject Dict ', obj_dict)
print('one = ', obj_dict['one'])
print('two = ', obj_dict['two'])
# print('one , two = ', obj_dict['one', 'two']) ERROR Akses dengan list

Object List  [1, 2, 3, 4, 5]
obj_list[0] =  1
obj_list[-2] =  4
obj_list[:3] =  [1, 2, 3]
obj_list[-2:] =  [4, 5]
obj_list[-1:-3] =  []
obj_list[-3:-1] =  [3, 4]

Object Series
0    1
1    2
2    3
3    4
4    5
dtype: int64
obj_series[0] =  1
obj_series[:3] =
 0    1
1    2
2    3
dtype: int64
obj_series[-2:] =
 3    4
4    5
dtype: int64
obj_series[-1:-3] =
 Series([], dtype: int64)
obj_series[-3:-1] =
 2    3
3    4
dtype: int64
obj_series[1,2,3] =
 1    2
2    3
3    4
dtype: int64

Object Dict  {'one': 1, 'two': 2, 'tree': 3, 'four': 4, 'five': 5}
one =  1
two =  2

In [ ]:
import pandas as pd
obj_dict = {'one':1, 'two': 2, 'tree':3, 'four':4, 'five':5}
obj_series = pd.Series(obj_dict)

#series
print('\nObject Series ')
print(obj_series)
print('obj_series[one:two] = \n',obj_series['one':'tree'])
print('obj_series[one:two] = \n',obj_series['one':'five':2])

Object Series
one     1
two     2
tree    3
four    4
five    5
dtype: int64
obj_series[one:two] =
 one     1
two     2
tree    3
dtype: int64
obj_series[one:two] =
 one     1
tree    3
five    5
dtype: int64

# **Accessing Data from Series with Position**

## With Method Index and Value

In [ ]:
import pandas as pd
obj_list = ['a', 'b', 'c', 'd', 'e', 'f']
obj_series = pd.Series(obj_list)

print(obj_series.index)
print(obj_series.values)

RangeIndex(start=0, stop=6, step=1)
['a' 'b' 'c' 'd' 'e' 'f']

## With Index (Subsetting and Slicing)

In [ ]:
#series
print('\nObject Series ')
print(obj_series)

Object Series
0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [ ]:
# Dengan index (subnetting, slicing)
print('obj_series[0] = ', obj_series[0])
# print('obj_series[-2] = ',obj_series[-2])   ERROR untuk index yang tidak ada
print('obj_series[:3] =')
print(obj_series[:3], end='\n\n')

print('obj_series[-2:] =')
print(obj_series[-2:], end='\n\n')

print('obj_series[-1:-3] =') #EMPTY
print(obj_series[-1:-3], end='\n\n')

print('obj_series[-3:-1] =')
print(obj_series[-3:-1], end='\n\n')

obj_series[0] =  a
obj_series[:3] =
0    a
1    b
2    c
dtype: object

obj_series[-2:] =
4    e
5    f
dtype: object

obj_series[-1:-3] =
Series([], dtype: object)

obj_series[-3:-1] =
3    d
4    e
dtype: object

## With List

In [ ]:
# Akses dengan list (multitple elements)
print('obj_series[1,2,3] =')
print(obj_series[[1,2,3]])

obj_series[1,2,3] =
1    b
2    c
3    d
dtype: object

In [ ]:
# Akses dengan list (multitple elements)
list_pick = [3,2,1]
print('obj_series[3,2,1] =')
print(obj_series[list_pick])

obj_series[3,2,1] =
3    d
2    c
1    b
dtype: object

## With Index (Subsetting, Slicing and list (Multiple Elements)) indicated index parameter

In [ ]:
# Dengan index (subnetting, slicing) jika index string
import pandas as pd
obj_list = ['a', 'b', 'c', 'd', 'e', 'f']
obj_series = pd.Series(obj_list, index=['bla', 'bli', 'blu', 'blo', 'cla', 'cli'])

#--------------------Tetap bisa dengan numeric indexing-------------------------

print('obj_series[0] = ', obj_series[0])
# print('obj_series[-2] = ',obj_series[-2])   ERROR untuk index yang tidak ada
print('obj_series[:3] =')
print(obj_series[:3], end='\n\n')

print('obj_series[-2:] =')
print(obj_series[-2:], end='\n\n')

print('obj_series[-1:-3] =') #EMPTY
print(obj_series[-1:-3], end='\n\n')

print('obj_series[-3:-1] =')
print(obj_series[-3:-1], end='\n\n')

#--------------------Bisa juga dengan index yang telah ditentukan-------------------------
print('obj_series[0] = ', obj_series['bla'])
print('obj_series[:blu] =')
print(obj_series[:'blu'], end='\n\n')



print('obj_series[blu:bla] =') #EMPTY
print(obj_series['blu':'bla'], end='\n\n')

print('obj_series[bla:cla] =')
print(obj_series['bla':'cla'], end='\n\n')

obj_series[0] =  a
obj_series[:3] =
bla    a
bli    b
blu    c
dtype: object

obj_series[-2:] =
cla    e
cli    f
dtype: object

obj_series[-1:-3] =
Series([], dtype: object)

obj_series[-3:-1] =
blo    d
cla    e
dtype: object

obj_series[0] =  a
obj_series[:blu] =
bla    a
bli    b
blu    c
dtype: object

obj_series[blu:bla] =
Series([], dtype: object)

obj_series[bla:cla] =
bla    a
bli    b
blu    c
blo    d
cla    e
dtype: object

## With Slicing key (index) from Dictionary

In [ ]:
#dengan index key untuk dictionary
import pandas as pd
obj_dict = {'one':1, 'two': 2, 'tree':3, 'four':4, 'five':5}
obj_series = pd.Series(obj_dict)

#series
print('\nObject Series ')
print(obj_series, end='\n\n')
print('obj_series[one:two] =')
print(obj_series['one':'tree'], end='\n\n')
print('obj_series[one:two] = \n')
print(obj_series['one':'five':2], end='\n\n')

Object Series
one     1
two     2
tree    3
four    4
five    5
dtype: int64

obj_series[one:two] =
one     1
two     2
tree    3
dtype: int64

obj_series[one:two] =

one     1
tree    3
five    5
dtype: int64

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])

# retrieve multiple elements
# print s['f']
#ERROR

## .loc[] - index table

In [ ]:
import pandas as pd
s = pd.Series([95, 80, 90, 70], index=['a', 'b', 'c', 'd'])
s

a    95
b    80
c    90
d    70
dtype: int64

In [ ]:
s.loc['a':'c']

a    95
b    80
c    90
dtype: int64

## .iloc[] - index integer

In [ ]:
import pandas as pd
s = pd.Series([95, 80, 90, 70], index=['a', 'b', 'c', 'd'])
s

a    95
b    80
c    90
d    70
dtype: int64

In [ ]:
s.iloc[1:3]

b    80
c    90
dtype: int64

In [ ]:
s.iloc[1:3]

b    80
c    90
dtype: int64

# Operator in Series

In [ ]:
import pandas as pd
obj_series1 = pd.Series([95, 80, 90, 70], index=['a', 'b', 'c', 'd'])
obj_series1

a    95
b    80
c    90
d    70
dtype: int64

In [ ]:
obj_series2 = pd.Series([100, 200, 300, 400], index=['a', 'b', 'c', 'd'])
obj_series2

a    100
b    200
c    300
d    400
dtype: int64

In [ ]:
obj_series1 + 1

a    96
b    81
c    91
d    71
dtype: int64

In [ ]:
obj_series1 + obj_series2

a    195
b    280
c    390
d    470
dtype: int64

In [ ]:
obj_series1 - obj_series2

a     -5
b   -120
c   -210
d   -330
dtype: int64

In [ ]:
obj_series1 * obj_series2

a     9500
b    16000
c    27000
d    28000
dtype: int64

In [ ]:
obj_series1 / obj_series2

a    0.950
b    0.400
c    0.300
d    0.175
dtype: float64

In [ ]:
'a' in obj_series1

True

In [ ]:
95 in obj_series1

False

# **Function in Series**

In [ ]:
import pandas as pd
import numpy as np
series = pd.Series(np.random.randn(20000))
series

0        0.324537
1        0.950607
2       -0.883261
3        0.654614
4        1.733836
           ...
19995    0.411200
19996    0.252660
19997    0.526333
19998    0.861027
19999   -0.470470
Length: 20000, dtype: float64

## **.add()**

## **.append()**

In [ ]:
# series.append?

## **.head() and .tail()**

In [ ]:
series.head()

0    0.324537
1    0.950607
2   -0.883261
3    0.654614
4    1.733836
dtype: float64

In [ ]:
series.tail()

19995    0.411200
19996    0.252660
19997    0.526333
19998    0.861027
19999   -0.470470
dtype: float64

## .value_counts()

In [ ]:
series.value_counts(dropna=False) 
# would allow you to view unique values and counts for a series (like a column or a few columns).

 0.406909    1
-0.990500    1
 0.137381    1
-0.058619    1
-1.450808    1
            ..
-0.619410    1
 0.152583    1
 1.860517    1
 0.532834    1
 0.043230    1
Length: 20000, dtype: int64

## .replace()

In [ ]:
s = pd.Series([0, 1, 2, 3, 4])
s.replace([1, 2], method='bfill')

0    0
1    3
2    3
3    3
4    4
dtype: int64

## **.astype()**

In [ ]:
# Create a series:
ser = pd.Series([1, 2], dtype='int32')
ser

0    1
1    2
dtype: int32

In [ ]:
ser.astype('int64')

0    1
1    2
dtype: int64

In [ ]:
# Note that using ``copy=False`` and changing data on a new pandas object may propagate changes:
s1 = pd.Series([1, 2])
s2 = s1.astype('int64', copy=False)
s2[0] = 10
s1  # note that s1[0] has changed too

0    10
1     2
dtype: int64

## **.sum()**